::placeholder {color:black;}

body{
    margin: 0;
    font-family: Helvetica Neue;
}
h1{
    font-size: 10vw;
    margin: 0;
}
h2{
    margin: 0;
}
p{
    font-size: 3vh;
}
.heading-c h1{
    font-weight: 900;
    font-size: 15vw;
    line-height: 10vh;
    color: white;
    padding: 2.5vw;
    top: 10vh;
    position: relative;
}
.heading-c h2{
    font-weight: 500;
    font-size: 5vw;
    padding-left: 2.5vw;
}
.heading-c{
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1526455858803-300d96d74f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}
.title-c{
    height: 5vh;
    padding: 2.5vh 0;
    color: white;
}
.banner-img{
    width: 100vw;
    height: 40vh;

}
.title-slogan-c{
    /*background-image: url(https://images.unsplash.com/photo-1526455858803-300d96d74f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;*/
}
.spacer-bl{
    background: black;
    margin: 10vh 0;
    height: 80vh;
    width: 100vw;
}
.spacer-m{
    height: 10vh;
}
.lnr-center{
    margin: 5vh 40vw;
    width: 20vw;
    height: 5vh;
}

.form-s{
    display: flex;
    flex-flow: row wrap;
}
.form-d{
    padding: 2.5vw;
    font-size: 8vw;
}
.form-c{
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
.form-i{
    margin: 1vh 0;
    color: black;
    background: white;
    box-shadow: 5px 5px 11px #b5b5b5,
                -5px -5px 11px #ffffff;
    border: unset;
    padding: 2vh;
    font-family: Helvetica Neue;
    font-size: 4vw;
    -webkit-appearance: none;
}
.form-b{
    margin: 4vh 0;
    color: black;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border: unset;
    padding: 2vh;
    font-family: Helvetica Neue;
    font-size: 4vw;
    box-shadow: 5px 5px 11px #b5b5b5, -5px -5px 11px #ffffff;
}

.caption-c{
    width: 100vw;
    margin: 5vh 0;
    /*background: #1c1c1cde;*/
}
.caption-c h1{
    padding: 5vw;
    text-align: center;
    font-size: 5vw;
    color: black;
}
.section-c{
    display: flex;
    flex-flow: row wrap;
}
.rev-sec{
    flex-flow: row-reverse wrap;
}
.rev-sec h2{
    padding-left: 25%;
    padding-right: 10%;
}
.section-t-c{
    background: #99b4c7;
    width: 40vw;
}
.section-t{
    padding: 10%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 25%;
}
.section-p{
    font-size: 2.5vw;
    font-family: Helvetica Neue;
    font-weight: 400;
    padding: 5vw;
    width: 50vw;
    align-self: center;
    background: #f1f1f1;
    margin: 0;
    line-height: 6vh;
}



@media only screen and (min-width: 1025px) {
    h2{
        font-size: 4vw;
    }
    .heading-c{
        height: 90vh;
        background-position: top center;
    }
    .heading-c h2{
        font-size: 2vw;
    }
    .heading-c h1{
        font-size: 7vw;
        padding-right: 25vw;
        line-height: 15vh;
    }
    .form-d{
        font-size: 4vw;
        max-width: 40%;
    }
    .form-c{
        width: 25%;
    }
    .form-i{
        font-size: 1vw;
    }
    .form-b{
        font-size: 1vw;
    }
    .spacer-m{
        height: 20vh;
    }

}


@media only screen and (orientation : landscape) and (max-width: 1025px) {
    .heading-c{
        height: 90vh;
    }
    .heading-c h1 {
        font-size: 8vw;
        line-height: 15vh;
        padding-right: 15vw;
    }
}
