::placeholder {color:black;}

body{
    margin: 0;
    font-family: Helvetica Neue;
}
h1{
    font-size: 10vw;
    margin: 0;
}
h2{
    margin: 0;
    font-size: 8vw;
}
p{
    font-size: 3vh;
}
.heading-c h1{
    font-weight: 900;
    font-size: 12vw;
    display: table-cell;
    color: white;
    padding: 2.5vw;
    vertical-align: middle;
}
.heading-c h2{
    font-weight: 800;
    font-size: 8vw;
    padding-left: 2.5vw;
}
.heading-c{
    /*height: 90vh;*/
}
.title-c{
    height: 5vh;
    padding: 2.5vh 0;
}
.banner-img{
    width: 100vw;
    height: 40vh;

}
.title-slogan-c{
    display: table;
    background-image: url(https://images.unsplash.com/photo-1526455858803-300d96d74f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;
}
.spacer-bl{
    background: black;
    margin: 10vh 0;
    height: 80vh;
    width: 100vw;
}
.spacer-m{
    height: 10vh;
}
.lnr-center{
    margin: 5vh 40vw;
    width: 20vw;
    height: 5vh;
}

.form-s{
    display: flex;
    flex-flow: row wrap;
}
.form-d{
    padding: 2.5vw;
    font-size: 8vw;
}
.form-c{
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
.form-i{
    margin: 1vh 0;
    color: black;
    background: white;
    box-shadow: 5px 5px 11px #b5b5b5,
                -5px -5px 11px #ffffff;
    border: unset;
    padding: 2vh;
    font-family: Helvetica Neue;
    font-size: 4vw;
    -webkit-appearance: none;
}
.form-b{
    margin: 4vh 0;
    color: black;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border: unset;
    padding: 2vh;
    font-family: Helvetica Neue;
    font-size: 4vw;
    box-shadow: 5px 5px 11px #b5b5b5, -5px -5px 11px #ffffff;
}


@media only screen and (min-width: 992px) {
    h2{
        font-size: 4vw;
    }
    .heading-c h2{
        font-size: 2vw;
    }
    .heading-c h1{
        font-size: 7vw;
        padding-right: 15vw;
    }
    .form-d{
        font-size: 4vw;
        max-width: 40%;
    }
    .form-c{
        width: 25%;
    }
    .form-i{
        font-size: 1vw;
    }
    .form-b{
        font-size: 1vw;
    }

}
