::placeholder {color:black;}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
a{
    text-decoration: unset;
    color: unset;
}
body{
    margin: 0;
    font-family: Helvetica Neue;
}
h1{
    font-size: 10vw;
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
footer{
    background: #f1f1f1;
    width: 100vw;
    min-height: 30vh;
}
.footer-c{
    padding: 5vw;
}
.footer-l{
    width: unset;
}
.footer-l h2{
    font-size: 5vw;
}
.footer-r{
    width: unset;
    margin-top: 5vh;
    padding-left: 15vw;
}
.footer-r h3{
    font-weight: 500;
    font-size: 4vw;
    margin: 2vh 0;
}
.section-t-a{
    padding: 5vw;
    padding-left: 15vw;
    font-size: 5vw;
}
p{
    font-size: 3vh;
}
.heading-c h1{
    font-weight: 900;
    font-size: 15vw;
    line-height: 10vh;
    color: white;
    padding: 2.5vw;
    top: 10vh;
    position: relative;
}
.heading-c h2{
    font-weight: 500;
    font-size: 5vw;
    padding-left: 2.5vw;
}
.heading-c{
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1526455858803-300d96d74f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}
.no-banner{
    background-image: unset;
    height: unset !important;
}
.no-banner h2{
    color: black;
}
.title-c{
    height: 5vh;
    padding: 2.5vh 0;
    color: white;
}
.banner-img{
    width: 100vw;
    height: 40vh;

}
/*
.title-slogan-c{
    background-image: url(https://images.unsplash.com/photo-1526455858803-300d96d74f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/
.spacer-bl{
    background: black;
    margin: 10vh 0;
    height: 80vh;
    width: 100vw;
}
.spacer-m{
    height: 10vh;
}
.lnr-center{
    margin: 5vh 40vw;
    width: 20vw;
    height: 5vh;
}

.form-s{
    display: flex;
    flex-flow: row wrap;
}
.form-d{
    padding: 2.5vw;
    font-size: 8vw;
    padding-left: 10vw;
}
.form-c{
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
.form-i{
    margin: 1vh 0;
    color: black;
    background: white;
    box-shadow: 5px 5px 11px #b5b5b5,
    -5px -5px 11px #ffffff;
    border: unset;
    padding: 2vh;
    font-family: Helvetica Neue;
    font-size: 4vw;
    -webkit-appearance: none;
}
.form-b{
    margin: 4vh 0;
    color: black;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border: unset;
    padding: 2vh;
    font-family: Helvetica Neue;
    font-size: 4vw;
    box-shadow: 5px 5px 11px #b5b5b5, -5px -5px 11px #ffffff;
}

.caption-c{
    width: 100vw;
    margin: 5vh 0;
    /*background: #1c1c1cde;*/
}
.caption-c h1{
    padding: 5vw;
    text-align: center;
    font-size: 5vw;
    color: black;
    font-weight: 400;
}
.section-c{
    display: block;
    width: 90vw;
    margin: auto;
    /*flex-flow: row wrap;*/
}
/*
.rev-sec{
    flex-flow: row-reverse wrap;
}
.rev-sec h2{
}
.section-t-c{
    background: #99b4c7;
}
*/
.section-t{
    padding: 10%;
    color: black;
    font-size: 8vw;
}
.section-p{
    font-family: San Francisco, -apple-system, BlinkMacSystemFont;
    font-weight: 400;
    padding: 5vw;
    align-self: center;
    color: #404040;
    background: #f1f1f1;
    margin: 0;
    font-size: 5vw;
    line-height: 6vh;
}
.button{
   /* box-shadow: 5px 5px 11px #b5b5b5, -5px -5px 11px #ffffff;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);*/
    width: 60vw;
    border-bottom: solid .5vh black;
    margin: 5em 2em;
}
.button h1{
    padding: 5vw;
    text-align: center;
    font-size: 5vw;
    color: black;
    font-weight: 900;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.sponsors-c{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.prntr-lg{
    height: 5vh;
}

/*
 *  LAPTOP, DESKTOP, IPAD 
 */ 
@media only screen and (min-width: 1025px) {
    h2{
        font-size: 4vw;
    }
    .heading-c{
        height: 90vh;
        background-position: top center;
    }
    .heading-c h2{
        font-size: 2vw;
    }
    .heading-c h1{
        font-size: 7vw;
        padding-right: 25vw;
        line-height: 15vh;
    }
    .form-d{
        font-size: 4vw;
        max-width: 40%;
    }
    .form-c{
        width: 25%;
    }
    .form-i{
        font-size: 1vw;
    }
    .form-b{
        font-size: 1vw;
    }
    .spacer-m{
        height: 20vh;
    }
    .caption-c h1{
    font-size: 3vw;
    }
    .section-c{
        display: flex;
        flex-flow: row wrap;
        width: 90vw;
        margin: auto;
    }
    .rev-sec{
        flex-flow: row-reverse wrap;
    }
    .rev-sec h2{
        padding-left: 25%;
        padding-right: 10%;
    }
    .section-t-c{
        width: 30vw;
    }
    .section-t{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2vw;
        padding-right: 25%;
    }
    .section-p{
        width: 50vw;
        font-size: 1.5vw;
        line-height: 8vh;
    }

    .button{
       width: 25vw; 
    }
    .button h1{
        font-size: 1.5vw;
        padding: 1.5vw;
    }
    .prntr-lg{
        height: 7.5vh;    
    }
    .section-t-a{
    font-size: 2.5vw;
    padding-left: 7.5vw;
    }
    .footer-c{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    }
    .footer-l{width: 40vw;}
    .footer-l h2{font-size: 2vw;}
    .footer-r{
        width: 40vw;
        margin-top: 0;
        padding: 0;
}
    .footer-r h3{font-size: 1.5vw;}
}

/*
 *  IPHONE LANDSCAPE
 */ 
@media only screen and (orientation : landscape) and (max-width: 1025px) {
    .heading-c{
        height: 90vh;
    }
    .heading-c h1 {
        font-size: 8vw;
        line-height: 15vh;
        padding-right: 15vw;
    }

    .section-c{
        display: flex;
        flex-flow: row wrap;
        width: 90vw;
        margin: auto;
    }
    .rev-sec{
        flex-flow: row-reverse wrap;
    }
    .rev-sec h2{
        padding-left: 25%;
        padding-right: 10%;
    }
    .section-t-c{
        width: 30vw;
    }
    .section-t{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 4vw;
        padding-right: 25%;
    }
    .section-p{
        width: 50vw;
        font-size: 2.5vw;
        line-height: 6vh;
    }
}
